/* Nav.css */
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}

ul {
  /* list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0; */
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.flex-row li {
  margin: 0 15px;
}

.flex-row li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.menu {
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 100;
 
}

.active {
  font-weight: bolder;
}

/* .flex-row li a:hover {
    color: #ffdde1;
} */

/* Adjust the below media query as per your design's responsiveness needs */
@media screen and (max-width: 1010px) {
  .siteHeader {
    display: flex;
    flex-shrink: 1;
    font-size: smaller;
    justify-content: center;
    text-align: center;
    
  }

 

  .flex-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height:0px;    
    width: 100% ;
    padding: 0 0px;
    background-image: linear-gradient(to right, orange 0% ,  #89CFF0 100% );
    z-index: 100;
    text-transform: uppercase;
    padding: 0;
    border-radius: 20px;
  }

  .dropdown-item>li{
    display: none;
  }

  .currentDebates,
  .aboutus,
  .logout,
  .login,
  .signup,
  .dashboard {
    display: none;
  }
}
