header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    max-height: 100px; 
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    background-image: linear-gradient(to right, orange 0% ,  #89CFF0 100% );
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-bottom: 2px solid rgba(255,255,255,0.2);
    
}

.siteHeader{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 1;
}

header h1 {
    margin: ;
    font-size: 4.5rem;
    text-decoration: none;
}

header h1 a {
    color: white;
    text-decoration: none;
}

.logo-container {
   
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
}


@media screen and (max-width: 1010px) {
    header {
        flex-direction: column;
        
    }

    .flex-row {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
      
    }

    #root {
        margin-top: 225px;
    }
    
}